@model AerConnect.Models.View_Model.SearchPassengerViewModel

<div id="searchResults" class="col-md-8">
  
        @if (!Model.Putniks.Any())
        {
            <h2>Ne postoji putnik sa unetim podacima.</h2>
        }
        else
        {
            <div class="lista">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th align="center">Lista putnika</th>
                           
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var putnici in Model.Putniks)
                        {
                            <tr>
                                
                                <td align="center">@(putnici.BrojPasosa + " | " + putnici.Ime + " | " + putnici.Prezime + " | " + putnici.BrojTelefona + " | " + putnici.Email)</td>
                            </tr>                        

                        }
                    </tbody>
                </table>
            </div>
        }
    
</div>
<link href="~/Content/Site.css" rel="stylesheet" />
