
@{
    ViewBag.Title = "EvidentiranaZalba";
}

<h2>Vasa žalba je uspešno evidentirana!</h2>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:63817';
}, 1000);
</script>

