
@{
    ViewBag.Title = "NePostojiPutnik";
}

<h2>Ne postoji putnik u bazi sa unetim parametrima</h2>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:54789';
}, 2000);
</script>

