
@{
    ViewBag.Title = "NePostojiPutnik";
}
<center>
    <div class="poruka">
        <p>
            <h2>Ne postoji putnik u bazi sa unetim podacima</h2>
            <h3>Molimo unesite ispravne podatke</h3>
        </p>
    </div>
</center>

<script>
    window.setTimeout(function () {
        window.history.back();
    }, 3000);
</script>
<link href="~/Content/PorukeCSS.css" rel="stylesheet" />

