
@{
    ViewBag.Title = "Uspesno";
}
<center>
    <div class="poruka">
        <p>
            <h2>Uspešno ste obavili check-in</h2>
        </p>
    </div>
</center>

<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:63817/checkin/svicheckin';
    }, 2000);
</script>
<link href="~/Content/PorukeCSS.css" rel="stylesheet" />


