
@{
    ViewBag.Title = "Uspesno";
}

<h2>Uspesno ste obavili check in</h2>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:63817/checkin/svicheckin';
}, 2000);
</script>

