
@{
    ViewBag.Title = "VecObavljenCheckIn";
}
<center>
    <div class="poruka">
        <p>
            <h2>Već ste obavili check-in</h2>
        </p>
    </div>
</center>

<script>
    window.setTimeout(function () {
        window.history.back();
    }, 1000);
</script>
<link href="~/Content/PorukeCSS.css" rel="stylesheet" />


