
@{
    ViewBag.Title = "VecObavljenCheckIn";
}

<h2>Vec ste obavili check in</h2>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:63817/checkin/checkin';
}, 1000);
</script>

