
@{
    ViewBag.Title = "PostojeciPutnik";
}

<h1 class="text-success" style="text-align:center"><b>Vec postoji let sa tom sifrom, molim vas pokusajte ponovo</b></h1>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:63817/Flight/KreirajLet';
}, 3000);
</script>
