
@{
    ViewBag.Title = "PostojecaSIfra";
}

<h1 class="text-success" style="text-align:center"><b>Sifra za taj let postoji,pokusajte ponovo</b></h1>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:63817/Flight/KreirajLet';
}, 3000);
</script>

