
@{
    ViewBag.Title = "PostojecaPretraga";
}



<center>
    <div class="poruka">
        <p>
            <h2>Morate upisati neku od kategorija <br />za pretragu!</h2>         

        </p>
    </div>
</center>
<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:63817/Passenger/Search';
}, 3000);
</script>
<link href="~/Content/PorukeCSS.css" rel="stylesheet" />

