
@{
    ViewBag.Title = "PostojecaPretraga";
}


<h1 class="text-success" style="text-align:center"><b>Morate upisati neku od kategorija <br />za pretragu</b></h1>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:63817/Passenger/Search';
}, 3000);
</script>

