
@{
    ViewBag.Title = "PostojeciPutnik";
}


<center>
    <div class="poruka">
        <p>
            <h2>Već postoji putnik sa tom šifrom!</h2>
            <h3>Molimo vas pokušajte ponovo!.</h3>
            
        </p>
    </div>
</center>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:63817/Flight/KreirajLet';
}, 3000);
</script>
<link href="~/Content/PorukeCSS.css" rel="stylesheet" />
