
@{
    ViewBag.Title = "PretragaPutnika";
}

<h2>PretragaPutnika</h2>
<h1 class="text-success" style="text-align:center"><b>Morate pretraziti putnika po nekom od navedenih kriterijuma</b></h1>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:63817/Flight/KreirajLet';
}, 3000);
</script>

