
@{
    ViewBag.Title = "Again";
}

<h1 class="text-success" style="text-align:center"><b>Vec ste rezervisali kartu za datog ljubimca!</b></h1>

<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:63817/Reservation/RezervacijaLjubimac';
    }, 3000);
</script>