
@{
    ViewBag.Title = "PostojecaSifraReservacija";
}

<h1 class="text-success" style="text-align:center"><b>Nije dobro unet broj pasosa, molim Vas pokusajte ponovo</b></h1>

<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:63817/Flight/SviLetovi';
    }, 3000);
</script>