
@{
    ViewBag.Title = "SuccessfullReservationPet";
}


<center>
    <div class="poruka">
        <p>
            <h2>Uspešno ste izvršili rezervaciju karte!</h2>

        </p>
    </div>
</center>

<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:63817/Reservation/SveRezervacije';
    }, 3000);
</script>
<link href="~/Content/PorukeCSS.css" rel="stylesheet" />
