
@{
    ViewBag.Title = "SuccessfullReservationPet";
}

<h1 class="text-success" style="text-align:center"><b>Uspesno ste izvrsili rezervaciju karte!</b></h1>

<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:63817/Reservation/SveRezervacije';
    }, 3000);
</script>