
@{
    ViewBag.Title = "UploadSuccesfull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success" style="text-align:center"><b>Uspesno ste uneli novi let</b></h1>

<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:63817/reservation/SveRezervacije';
    }, 3000);
</script>




