
@{
    ViewBag.Title = "WrongReservationPet";
}

<h1 class="text-success" style="text-align:center"><b>Niste uneli validnu sifru rezervacije, molimo Vas pokusajte ponovo!</b></h1>

<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:63817/Reservation/RezervacijaLjubimac';
    }, 3000);
</script>
