
@{
    ViewBag.Title = "WrongReservationPet";
}


<center>
    <div class="poruka">
        <p>
            <h2>>Niste uneli validnu šifru rezervacije!</h2>
            <h3>Molimo Vas pokušajte ponovo.</h3>
            
        </p>
    </div>
</center>
<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:63817/Reservation/RezervacijaLjubimac';
    }, 3000);
</script>
<link href="~/Content/PorukeCSS.css" rel="stylesheet" />
